@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");

/* General */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: hsl(243, 87%, 12%);
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  padding: 0 3rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 3rem;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin: 0 3rem;
  padding: 3rem;
}

#logo {
  width: 50%;
  height: auto;
}

ul {
  display: flex;
  flex-direction: row;
}

ul li {
  list-style: none;
  padding: 2rem;
}

li a {
  text-decoration: none;
}

/* Header */

header {
  height: 90vh;
  display: grid;
  grid-template-columns: 6fr 6fr;
  justify-items: center;
  align-items: center;
  padding: 3rem;
}

header section {
  grid-column: 1/2;
}

.header-illustration {
  grid-column: 2/3;
  max-width: 40vw;
  height: auto;
}

form {
  margin: 1rem 3rem;
}

input[type="email"] {
  width: 50%;
  padding: 1rem 3.6rem 1rem 1rem;
  margin: 1rem 0 1rem 1rem;
  box-sizing: border-box;
}

button {
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  padding: 1rem 3.6rem;
}

/* Main */

main {
  background-color: hsl(240, 75%, 98%);
}

.section-testimonial {
  display: grid;
  grid-template-columns: 6fr 6fr;
  justify-items: center;
  align-items: center;
  padding: 3rem;
}

.main-article {
  grid-column: 1/2;
}

.main-figure {
  grid-column: 2/3;
}

.main-illustration {
  max-width: 40vw;
  height: auto;
}

.main-quote {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #fff;
  margin: 3rem 10rem 3rem 3rem;
  padding: 1rem;
}

.quote-icon {
  padding: 1rem 3rem 0 3rem;
}

.main-quote__author {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 2fr 2fr;
  padding: 1rem 3rem;
}

.main-quote__author img {
  grid-column: 1/2;
  grid-row: 1/3;
  border: none;
  border-radius: 50%;
  width: 50%;
}

.main-quote__author h3 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.main-quote__author h4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.main-quote__author h3,
.main-quote__author h4 {
  margin-left: -2rem;
}

.section-cta {
  background-color: hsl(238, 22%, 44%);
  color: hsl(240, 75%, 98%);
  padding: 3rem;
  display: grid;
  grid-template-columns: 6fr 6fr;
}

.section-cta p {
  grid-column: 1/2;
  padding: 3rem;
}

.section-cta form {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;
}

/* Footer */

footer {
  background-color: hsl(243, 87%, 12%);
  color: hsl(240, 75%, 98%);
  height: 50vh;
  padding: 3rem;
}

/* Media Queries */
